* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-top: 15%;
    background-color: rgb(26, 133, 204);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 10px 5px 10px black;
}

main hr {
    width: 105%;
    background-color: black;
    height: 4px;
    margin: 8px 0;
    border-radius: 10px;
}

main form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 4px;
    padding: 8px;
}

main form fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 4px;
    padding: 16px;

    border-radius: 10px;
}

main form fieldset label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ButtonCalcular, .ButtonReset {
    margin: 8px;
    padding: 8px;
    background-color: rgba(0, 255, 255, 0.123);
    color: white;
    border-radius: 5px;
}


.resposta {
    width: 216px;
    height: 100px;
    background-color: black;
    margin: 8px 0;
    border-radius: 10px;
    color: rgb(240, 218, 22);
    padding: 16px;
}